{% extends "layout.html" %}

{% block content %}
    <table class="table table-striped">
        <th>#</th><th>User</th><th>Description</th><th>Completed</th><th>Action</th>
        <tr>
            <td>{{ todo.id }}</td>
            <td>{{ todo.user_id }}</td>
            <td>{{ todo.description }}</td>
            <td>{{ todo.done }}</td>
            <td>
                <form method="post" action="{{ url_for('todo_delete', id=todo.id) }}">
                    <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span>
                    </button>
                </form>
                <form method="post" action="{{url_for('todo_is_done',id=todo.id,done=todo.done)}}">
                    <button type="submit" class="btn btn-xs btn-success" data-toggle="modal" data-target="#exampleModal">
                        <span class="glyphicon glyphicon-ok glyphicon-white"></span>
                    </button>
                </form>
            </td>
        </tr>
    </table>
    {% block modals %}
    {% endblock %}
{% endblock %}